/*--
Author: Salads Media

--*/
body{
	padding:0;
	margin:0;
	background: url(../images/BGPic.jpg)no-repeat 0px 0px;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;

}

body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-weight:400;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;		
	font-weight:400;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	
}	
.clear {
	clear:both;
}
p{
	margin:0;
}

ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.text-center {
	text-align:center;
}
img{
	width:100%;
}
@font-face{
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
	font-family:'Roboto', sans-serif;
	src:url('../fonts/Roboto-Regular.html') format('truetype');
}
@font-face{
	font-family:'Helvetica', sans-serif;
	src:url('../fonts/Helvetica.ttf') format('truetype');
}
/*--header--*/
.agile-head h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 2px;
    padding: 1em 0 1em;
    color: #fff;
	font-family: 'Exo 2', sans-serif;
}
.agile-image {
    background:rgba(222, 0, 0, 0.7);
    width: 25%;
    margin: 0 auto;
	height:100vh;
	overflow:hidden;
	
}
.agile-image img {
    height: auto;
    width: auto;
    margin: 0 auto;
    display: block;
    padding: 1.5rem 0 0;
}
.agile-image > img {
    height: 20vh;
}
.agile-details h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .5em 0 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.agile-details p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.2em 0 0.5em;
    color: #fff;
    border-bottom: 2px solid #f40a0a;
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.agile-details p span
{
	text-transform: capitalize;
	padding: 0.5em 0 0.5em;
    display: block;
}
label {
    border-left: 2px solid #fff;
    display: inline-block;
    padding-left: 1em;
}
.agile-activity {
    padding: 1em 0 1em;
	text-align:center;
}
.agile-activi-grid {
    width: 24%;
    margin: 0 auto;
    display: inline-block;
}
.agile-activi-grid h3 {
    background: rgba(39, 36, 36, 0.23);
    color: #45da93;
    width: 50%;
    height: 20%;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 15px;
	font-family: 'Exo 2', sans-serif;
}
.agile-activi-grid h4 {
    background: rgba(39, 36, 36, 0.23);
    color: #45da93;
    width: 50%;
    height: 20%;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 15px;
	font-family: 'Exo 2', sans-serif;
}
.agile-activi-grid h5 {
    background:rgba(39, 36, 36, 0.23);
	color: #45da93;
    width: 91%;
    height: 28%;
    font-size: 15px;
    border-radius: 15px;
    padding: 0.5em 0.5em;
    text-align: center;
    text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
}

.agile-activi-grid h6 {
    background: rgba(39, 36, 36, 0.23);
    color: #45da93;
    width: 50%;
    height: 28%;
    font-size: 15px;
    border-radius: 15px;
    padding: 0.5em 0.5em;
    text-align: center;
    text-transform: uppercase;
}
.agile-list-grids {
    text-align: center;
    border-bottom: 4px solid #45da93;
    background: rgba(117, 167, 100, 0.49);
    background-color: rgba(16, 16, 16, 0.47);
    padding: 1em 0 1em;
}
.agile-list-grid {
    width: 32%;
    margin: 0 auto;
    display: inline-block;
}
.agile-list-grid span {
    padding: 0 0 0.5em;
    display: block;
    font-size: 1.5em;
	color:#fff;
}
.agile-list-grid p {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 0.5em 0 0.5em;
    margin: 0;
}
.agile-info p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
     color: #fff;
        padding:1.5em;
	font-family: 'Open Sans', sans-serif;
}
.agile-list-grid span:hover {
    color: #45da93;
    transition: .5s ease-in;
	padding:0 0 0.5em;
}
.agile-list-grid span:focus{
	padding:0 0 0.5em;
	transition: .5s ease-in;
}
.social-icons {
    text-align: center;
	/*border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;*/
    padding: 1em 0 1em;
	background-color: rgba(16, 16, 16, 0.47);
}
ul.icons-agile li {
    list-style-type: none;
    display: inline-block;
    padding: 0 0.5em;
}
.icons-agile li a i {
    font-size: 1.7em;
    color: #fff;
    padding: 5px 5px 5px 5px;
    border: 3px solid #fff;
    text-align: center;
    height: 33px;
    width: 33px;
    border-radius: 25px;
}
.fa-facebook-f:before, .fa-facebook:before,.fa-instagram:before{
    content: "\f09a";
	display:block;
	margin-top:5px;
}
.icons-agile li a i:hover{
    font-size:1.7em;
    color: #fff;
    border: 3px solid #fff200;
    text-align: center;
     height: 33px;
    width: 33px;
	transition: .5s ease-in;
}
.agile-follow{
	text-align:center;
	padding: 1.3rem 0;
}
.button {
  padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    text-transform: capitalize;
    background-color: #09d260;
    /* letter-spacing: 2px; */
    border: none;
    box-shadow: 0 4px #04453d;
    transition: .5s ease-in;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px
}
.button:hover {background-color: #09d260}

.button:active {
  background-color: #09d260;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.agile-main-call .agile-image {
    background:#163436;
    width: 25%;
    margin: 0 auto;
	height: 100vh;
	overflow:hidden;
}
.agile-main-call .agile-image .header
{
	width:100%;
	display:block;
	height: 34px;
	background:#04453d;
}
.agile-main-call .agile-image .header .time
{
width: 40%;
    float: left;
    padding: 10px;
	color:#fff;
	font-family:'Helvetica', sans-serif;
}
.agile-main-call .agile-image .header .settingsicons
{
    width: 50%;
    float: left;
    text-align: right;
    position: relative;
}
.agile-main-call .agile-image .header .settingsicons img{
    width: auto;
    text-align: right;
    height: 25px;
    margin-bottom: 0px;
    margin-right: -10px;
    padding: 4px 0px;
    float: right;
}
.agile-main-call .agile-image img {
    width: 50%;
	max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 1em 0 0;
	margin-bottom:25px;
}
.agile-main-call .agile-image img.picon {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0em 0 0;
    margin-bottom: 0px;
}
.agile-main-call .agile-image .endcall {
    position: absolute;
    bottom: 90px;
    left: 40%;
}
.agile-main-call .agile-image .endcall img
{
	width:80%;
	max-width:100%;
}
.agile-main-call .agile-image .footercallon{
    position: absolute;
    bottom: 0px;
	width:25%;
	background:#054c44;
	
    }
.agile-main-call .agile-image .footercallon ul{
    margin:0px;
	padding:0px;
}
.agile-main-call .agile-image .footercallon ul li{
    float:left;
	display:block;
	width:33.33%;
}
.agile-main-call .agile-image .footercallon ul li img{
width:47px;	
height:44px;
max-width:100%
}
.agile-main-call .agile-image h2 {
    font-family: Helvetica;
    text-align: center;
    color: #fff;
	margin-bottom:10px;
}
.agile-main-call .agile-image h2.callon {
    	margin-top:20px;
}
.agile-main-call .agile-image p.timeon {
    	font-family: Helvetica;
    text-align: center;
    color: #fff;
}
.agile-main-call .agile-image p 
{
	font-family: Helvetica;
    text-align: center;
    color: #fff;
	padding-bottom:20px;
}

.agile-main-call .agile-image .encryption
{
font-family: Helvetica;
    text-align: center;
    color: #a0b6b5;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
}
.agile-main-call .agile-image .encryption span.lockicon
{
	width:23px;
	height:24px;
	display:inline-block;
}
.agile-main-call .agile-image .encryption span.lockicon img
{
	display: block;
    width: 100%;
    padding: 0px;
    margin-top: 5px;
    padding-right: 20px;
}
.agile-main-call .agile-image .profilepic
{
display:block;
background:#054c44;
}
.agile-main-call .agile-image .callbuttons {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 25%;
}
.agile-main-call .agile-image .callbuttons ul
{
	width:100%;
	margin:0px;
	padding:0px;
}
.agile-main-call .agile-image .callbuttons ul li
{
	width: 33.333%;
    display: block;
    /* max-width: 100%; */
    float: left;
}
.agile-main-call .agile-image .callbuttons ul li a
{

    position: relative;
    display: block;
}
.agile-main-call .agile-image .callbuttons ul li a img
{
	max-width:80%;
}
.agile-main-call .agile-image .callbuttons .swipe
{
	font-family: Helvetica;
    text-align: center;
    color: #688283;
	padding-bottom:20px;
	font-size:16px;
	
}

footer {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color: #c9c6c6;
       font-family: 'Roboto', sans-serif;
	   padding-bottom:1em;
}
footer a {
    color: #4CAF50;
    text-decoration: none;
}
/*--/header--*/
/*--responsive--*/
@media(max-width:1920px)
{
	
}
@media(max-width:1680px){
	.agile-image {
		width: 27%;
	}
}
@media(max-width:1600px){
	.agile-image {
		width: 28%;
	}
}
@media(max-width:1440px){
	.agile-image {
		width: 29%;
	}
}
@media(max-width:1366px){
	.agile-head h1 {
		padding: 0.5em 0 0.5em;
	}
}
@media(max-width:1280px){
	.agile-image {
		width: 31%;
	}
}
@media(max-width:1080px){
	.agile-image {
		width: 37%;
	}
}
@media(max-width:1050px){
	.agile-image {
		width: 39%;
	}
	.agile-main-call .agile-image {
		width: 100%;
	}
	.agile-main-call .agile-image .callbuttons
	{
		width:100%;
	}
}
@media(max-width:1024px){
	.agile-image {
		width: 50%;
	}
	.agile-main-call .agile-image {
		width: 100%;
	}
	.agile-main-call .agile-image .callbuttons
	{
		width:100%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:991px){
	.agile-image {
		width: 41%;
	}
	
}
@media(max-width:900px){
	.agile-image {
		width: 44%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:800px){
	.agile-image {
		width: 46%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:768px){
	.agile-image {
		width: 54%;
	}
	.agile-main-call .agile-image {
		width: 100%;
	}
	.agile-main-call .agile-image .callbuttons
	{
		width:100%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
	
}
@media(max-width:736px){
		.agile-image {
		width: 58%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:667px){
	.agile-image {
		width: 62%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:600px){
	.agile-image {
		width: 65%;
	}
	.agile-head h1 {
    font-size: 44px;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:568px){
	.agile-image {
		width: 72%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:480px){
	.agile-head h1 {
		font-size: 35px;
	}
	.agile-image {
		width: 100%;
	}
	.agile-main-call .agile-image {
		width: 100%;
	}
	.agile-main-call .agile-image .callbuttons
	{
		width:100%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:414px){
	.agile-head h1 {
		font-size: 30px;
	}
	.agile-image {
		width: 100%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:384px){
	.agile-image {
		width: 100%;
	}
	.agile-main-call .agile-image {
		width: 100%;
	}
	.agile-main-call .agile-image .callbuttons
	{
		width:100%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:375px){
	.agile-activi-grid h5 {
		width: 100%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
}
@media(max-width:320px){
	.agile-info p {
    font-size: 15px;
	line-height: 1.5;
    }
	.agile-image {
		width: 100%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
	footer {
    font-size: 14px;
	}
	
}
@media(max-width:320px){
	.agile-main-call .agile-info p {
    font-size: 15px;
	line-height: 1.5;
    }
	.agile-main-call .agile-image {
		width: 100%;
	}
	.agile-main-call .agile-image .footercallon{
	 width:100%;
	}
	.agile-main-call .agile-image .callbuttons
	{
		width:100%;
	}
	footer {
    font-size: 14px;
	}
}
/*--/responsive--*/

#cta-wrapper, #call-wrapper { display: none;}
.use-this-for-pickup {
    animation: pulse-green 2s infinite;
    border-radius: 50%;
    height: 69px;
    width: 69px;
}
@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

/** vvr hide on landscape **/
@media (orientation:landscape) {
    .hide-on-landscape {
        display: none;
    }
}

@media (orientation:portrait) {
    .hide-on-portrait {
        display: none;
    }
}